$displayBackground: #aaa;
$displayBackgroundNumbers: #999;
$displayNumbers: #111;
$displayFont: DSEG;
$smallFont: "DotMatrix";
$diplayFontSize: 20px;
$smallFontSize: 15px;
$buttonColor: #333;
$buttonTextColor: #eee;
$calculatorColor: #555;
@font-face {
	font-family: "DSEG";
	src: url("../fonts/DSEG7Classic-Bold.woff");
}

@font-face {
	font-family: DotMatrix;
	src: url("../fonts/dotmatrixnormal.ttf");
}

* {
	box-sizing: border-box;
}

.calculator {
	position: absolute;
	max-width: 300px;
	min-height: 410px;
	background-color: $calculatorColor;
	border-radius: 10px;
}

.keyboard {
	padding: 10px 20px;
}


// button classes
.btn {
	display: inline-block;
	min-width: 50px;
	min-height: 50px;
	max-width: 50px;
	max-height: 50px;
	margin: 5px;
	font-size: 25px;
	color: $buttonTextColor;
	background-color: $buttonColor;
	border: none;
	border-radius: 5px;
	outline: none;
}

.btn-red {
	background-color: darkred;
}

.double-height {
	position: absolute;
	min-height: 110px;
}

.double-width {
	min-width: 114px;
}

// display
.display {
	position: relative;
	max-width: 280px;
	min-height: 60px;
	padding: 5px;
	margin: 10px 10px;
	background-color: $displayBackground;
	border-radius: 3px;
	p {
		margin: 0;
		text-align: right;
	}
}

.main-display {
	height: 40px;
	font-family: $displayFont;
	font-size: $diplayFontSize;
}

.small-display {
	height: 20px;
	font-family: $smallFont;
	font-size: $smallFontSize;
}


